# Ignore all .env files
*.env
*.env.*

*.log
*/logs/*

# Ignore certs directory and its contents
certs/

# Ignore postgrest directory and its contents
postgrest/postgrest.conf

# Ignore proxy directory and its contents
proxy/*.log

